<mat-toolbar>
  <button
    mat-icon-button
    *ngIf="!edit"
    (click)="edit = true"
    matTooltip="Click to edit"
  >
    <mat-icon>mode_edit</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="edit"
    (click)="edit = false"
    matTooltip="Click to cancel edit"
  >
    <mat-icon>close</mat-icon>
  </button>

  <button
    mat-icon-button
    *ngIf="!edit"
    (click)="deleteItem()"
    matTooltip="Click to delete"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <span *ngIf="edit">Edit Mode</span>

  <span *ngIf="false">Create New</span>

  <span class="example-spacer"></span>

  <button
    mat-icon-button
    *ngIf="edit"
    (click)="saveItem()"
    matTooltip="Click to submit changes"
  >
    <mat-icon>check</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <form class="example-form" *ngFor="let col of unifiedReadData">
      <div *ngIf="!col.Column.Hidden" [ngSwitch]="col.Column.ValueType">
        <mat-form-field
          *ngSwitchCase="'richtext'"
          class="example-full-width"
          appearance="outline"
        >
          <mat-label>{{ col.Column.Header }}</mat-label>
          <textarea
            matInput
            [id]="col.Column.ColumnDef"
            [readonly]="!edit || col.Column.Readonly"
            [disabled]="edit && col.Column.Readonly"
            [placeholder]="'Ex. Description of the '.concat(col.Column.Header)"
            rows="5"
            >{{ col.Value }}</textarea
          >
        </mat-form-field>

        <mat-form-field
          *ngSwitchCase="'number'"
          class="example-full-width"
          appearance="outline"
        >
          <mat-label>{{ col.Column.Header }}</mat-label>
          <input
            matInput
            [id]="col.Column.ColumnDef"
            [readonly]="!edit || col.Column.Readonly"
            [disabled]="edit && col.Column.Readonly"
            [placeholder]="'Numbers only'"
            numbersOnly
            [value]="col.Value"
          />
        </mat-form-field>

        <mat-checkbox
          *ngSwitchCase="'boolean'"
          [id]="col.Column.ColumnDef"
          color="primary"
          class="example-margin"
          [disabled]="!edit || col.Column.Readonly"
          [checked]="col.Value === '' ? false : col.Value"
          (change)="setCeckBoxValue($event)"
          >{{ col.Column.Header }}</mat-checkbox
        >

        <mat-form-field
          *ngSwitchDefault
          class="example-full-width"
          appearance="outline"
        >
          <mat-label>{{ col.Column.Header }}</mat-label>
          <input
            matInput
            [id]="col.Column.ColumnDef"
            [readonly]="!edit || col.Column.Readonly"
            [disabled]="edit && col.Column.Readonly"
            [placeholder]="'Ex. '.concat(col.Column.Header)"
            [value]="col.Value"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
