mat-card {
  position: fixed;
  width: 480px;
  top: 8rem;
  bottom: 0;
  overflow: auto;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.demo-paginator {
  background-color: #f5f5f5;
}

.example-spacer {
  flex: 1 1 auto;
}
