<mat-toolbar>
  <button
    mat-icon-button
    *ngIf="!edit"
    (click)="edit = true"
    matTooltip="Click to edit"
  >
    <mat-icon>mode_edit</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="edit"
    (click)="edit = false"
    matTooltip="Click to cancel edit"
  >
    <mat-icon>close</mat-icon>
  </button>

  <span *ngIf="edit">Edit Mode</span>

  <span *ngIf="false">Create New</span>

  <span class="example-spacer"></span>

  <button
    mat-icon-button
    *ngIf="edit"
    (click)="saveEdit()"
    matTooltip="Click to submit changes"
  >
    <mat-icon>check</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <form class="example-form" *ngFor="let col of unifiedReadData">
      <div *ngIf="!col.Column.hidden">
        <div
          *ngIf="col.Column.richTextString; then richTextString; else aString"
        ></div>

        <ng-template #aString>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ col.Column.header }}</mat-label>
            <input
              matInput
              placeholder="Ex. Pizza"
              [readonly]="!edit || col.Column.readonly"
              [disabled]="edit && col.Column.readonly"
              [value]="col.Value"
            />
          </mat-form-field>
        </ng-template>

        <ng-template #richTextString>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ col.Column.header }}</mat-label>
            <textarea
              matInput
              placeholder="Ex. It makes me feel..."
              rows="5"
              [readonly]="!edit || col.Column.readonly"
              [disabled]="edit && col.Column.readonly"
              >{{ col.Value }}</textarea
            >
          </mat-form-field>
        </ng-template>
      </div>
    </form>
  </mat-card-content>
</mat-card>
