mat-card {
  position: fixed;
  width: 480px;
  top: 8rem;
  bottom: 0;
  overflow: auto;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-margin {
  width: 100%;
  /* background-color: aqua; */
}

.example-full-width {
  width: 100%;
}

.demo-paginator {
  background-color: #f5f5f5;
}

.example-spacer {
  flex: 1 1 auto;
}

.error-alert {
  color: #820000 !important;
  font-size: small !important;
}
