<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [routerLink]="ToolbarInputData.HomeAction.Destination"
  >
    <mat-icon>{{ ToolbarInputData.HomeAction.HomeBack }}</mat-icon>
  </button>
  <span>{{ ToolbarInputData.ToolbarTitle }}</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    *ngIf="!ToolbarInputData?.Notification?.Hidden"
    [matMenuTriggerFor]="notification"
  >
    <mat-icon>notifications</mat-icon>
  </button>
  <mat-menu #notification="matMenu">
    <mat-list>
      <div mat-subheader *ngIf="ToolbarInputData?.Notification?.Content">
        Notifications
      </div>
      <div mat-subheader *ngIf="!ToolbarInputData?.Notification?.Content">
        No Notification Available
      </div>

      <mat-list-item
        *ngFor="let notif of ToolbarInputData?.Notification?.Content"
      >
        <mat-icon matListItemIcon>{{ notif?.Icon }}</mat-icon>
        <div matListItemTitle>{{ notif?.Name }}</div>
        <div matListItemLine>{{ notif?.Description }}</div>
      </mat-list-item>
    </mat-list>
  </mat-menu>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/', loginPage]">Sign Out</button>
  </mat-menu>
</mat-toolbar>
