<mat-sidenav-container>
  <mat-sidenav
    #detailSidenav
    position="end"
    mode="over"
    over
    fixedInViewport="true"
    [ngClass]="fullSidenav ? 'full-mat-sidenav' : 'partial-mat-sidenav'"
  >
    <mat-toolbar color="primary">
      <span>Details</span>

      <span class="example-spacer"></span>

      <!-- <button
        mat-icon-button
        [matTooltip]="
          fullSidenav ? 'Click to resize window' : 'Click to maximize window'
        "
        (click)="fullSidenav = !fullSidenav"
      >
        <mat-icon>{{ fullSidenav ? "expand_more" : "expand_less" }}</mat-icon>
      </button> -->

      <button
        mat-icon-button
        (click)="detailSidenav.toggle()"
        matTooltip="Click to close detail window"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <app-as-detail
      [tableColumns]="tableColumns"
      [rowData]="selectedRowData"
      (deleteEvent)="clientDeleteEvent($event); detailSidenav.toggle()"
      (updateEvent)="clientUpdateEvent($event); detailSidenav.toggle()"
    ></app-as-detail>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>

      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option selectable="false"
          >One fish
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-option>
      </mat-chip-listbox>

      <span class="example-spacer"></span>

      <button mat-icon-button (click)="refreshTable()">
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-icon-button (click)="detailSidenav.toggle(); addNew()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>

    <mat-progress-bar
      mode="indeterminate"
      *ngIf="showLoadingBar"
    ></mat-progress-bar>

    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      [hidden]="showLoadingBar"
    >
      <ng-container
        *ngFor="let disCol of tableColumns; let colIndex = index"
        matColumnDef="{{ disCol.ColumnDef }}"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ !disCol.Hidden ? disCol.Header : "" }}
        </th>

        <td mat-cell *matCellDef="let element">
          {{ !disCol.Hidden ? disCol.Cell(element) : "" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="detailSidenav.toggle(); rowClick(row)"
        class="row"
        [class.demo-row-is-clicked]="!row"
      ></tr>
    </table>

    <mat-paginator
      #tablePaginator
      style="margin-top: 1rem"
      [length]="rowCount"
      [pageSize]="rowPerPage"
      [pageSizeOptions]="rowPerPageoptions"
      aria-label="Select page"
      showFirstLastButtons
      (page)="paginatorClicked($event)"
    >
    </mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>
