<mat-sidenav-container>
  <mat-sidenav
    #detailSidenav
    position="end"
    mode="over"
    over
    fixedInViewport="true"
    [ngClass]="fullSidenav ? 'full-mat-sidenav' : 'partial-mat-sidenav'"
  >
    <mat-toolbar color="primary">
      <span>Details</span>

      <span class="example-spacer"></span>

      <button
        mat-icon-button
        [matTooltip]="
          fullSidenav ? 'Click to resize window' : 'Click to maximize window'
        "
        (click)="fullSidenav = !fullSidenav"
      >
        <mat-icon>{{ fullSidenav ? "expand_more" : "expand_less" }}</mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="detailSidenav.toggle()"
        matTooltip="Click to close detail window"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <app-as-detail
      [tableColumns]="tableColumns"
      [rowData]="selectedRowData"
    ></app-as-detail>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container
        *ngFor="let disCol of tableColumns; let colIndex = index"
        matColumnDef="{{ disCol.columnDef }}"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ disCol.header }}
        </th>

        <td mat-cell *matCellDef="let element">
          {{ disCol.cell(element) }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="detailSidenav.toggle(); rowClick(row)"
        class="row"
        [class.demo-row-is-clicked]="!row"
      ></tr>
    </table>

    <mat-paginator
      #tablePaginator
      style="margin-top: 1rem"
      [length]="rowCount"
      [pageSize]="rowPerPage"
      [pageSizeOptions]="rowPerPageoptions"
      aria-label="Select page"
      showFirstLastButtons
      (page)="paginatorClicked($event)"
    >
    </mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>
