<mat-form-field appearance="outline">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container
    *ngFor="let disCol of tableColumns; let colIndex = index"
    matColumnDef="{{ disCol.columnDef }}"
  >
    <th mat-header-cell *matHeaderCellDef>
      {{ disCol.header }}
    </th>

    <td mat-cell *matCellDef="let element">
      {{ disCol.cell(element) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="cursor-pointer hover:bg-stone-100"
  ></tr>
</table>

<mat-paginator
  style="margin-top: 1rem"
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator>
