<div
  class="flex flex-col h-[calc(100vh)] border-r-2 border-stone-200"
  *ngIf="!selectedMenuItem"
>
  <div class="basis-1/12">
    <mat-list>
      <mat-list-item>
        <div matListItemAvatar>
          <img src="../../../../assets/favicon/android-chrome-192x192.png" />
        </div>
        <div matListItemTitle>{{ defaultSidebarMenu.Header.Title }}</div>
        <div matListItemLine>{{ defaultSidebarMenu.Header.Description }}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="basis-3/12 overflow-auto">
    <mat-selection-list #DefaultSidebarMenu [multiple]="false">
      <div mat-subheader>Main Menu</div>

      <mat-list-option
        *ngFor="let menu of defaultSidebarMenu?.MenuItem"
        [value]="menu"
        (click)="selectSidebarItem(menu.Value)"
      >
        <mat-icon matListItemIcon>{{ menu?.Icon }}</mat-icon>
        <div matListItemTitle [matTooltip]="menu.Description">
          {{ menu?.Name }}
          <mat-icon *ngIf="menu?.Child" inline="true">list</mat-icon>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <mat-divider mat-subheader *ngIf="customSidebarMenu?.MenuItem"></mat-divider>

  <div class="basis-7/12 overflow-auto">
    <mat-selection-list #CustomSidebarMenu [multiple]="false">
      <div mat-subheader *ngIf="customSidebarMenu?.MenuItem">Custom Menu</div>

      <mat-list-option
        *ngFor="let menu of customSidebarMenu?.MenuItem"
        [value]="menu"
      >
        <div matListItemTitle [matTooltip]="menu.Description">
          {{ menu?.Name }}
        </div>
        <div matListItemLine>
          {{ menu.Description }}
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="basis-1/12 border-t-2 border-stone-200">
    <mat-selection-list [multiple]="false">
      <mat-list-option [matMenuTriggerFor]="menu">
        <div matListItemAvatar>
          <img
            src="../../../../assets/empty_icon/android-chrome-192x192.png"
            class="rounded-full"
            style="background-color: #673ab7"
          />
        </div>
        <div matListItemTitle>Eldest Pasirula</div>
      </mat-list-option>
    </mat-selection-list>

    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>View Profile</span>
      </button>

      <mat-divider></mat-divider>
      
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </div>
</div>

<div
  class="flex flex-col h-[calc(100vh)] border-r-2 border-stone-200"
  *ngIf="selectedMenuItem"
>
  <div class="basis-1/12">
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="backToParentSidebar()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="basis-11/12 overflow-auto">
    <mat-toolbar *ngIf="false">
      <button
        mat-icon-button
        aria-label="Example icon-button with menu icon"
        *ngIf="true"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span class="example-spacer"></span>

      <button
        mat-icon-button
        aria-label="Example icon-button with menu icon"
        *ngIf="true"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-toolbar>

    <mat-selection-list #SidebarMenu [multiple]="false">
      <mat-list-option
        *ngFor="let menu of selectedMenuItem?.Child"
        [value]="menu"
      >
        <mat-icon matListItemIcon>{{ menu?.Icon }}</mat-icon>
        <div matListItemTitle [matTooltip]="menu.Description">
          {{ menu?.Name }}
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
