<mat-toolbar color="primary">
  <span>{{ rootLayoutProperty?.ToolbarTitle }}</span>
  <span class="fill-remaining-space"></span>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger"
    (mouseover)="menuTrigger.openMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </span>
  </mat-menu>
</mat-toolbar>

<div class="flex flex-row">
  <div
    class="basis-1/4 bg-slate-200 h-[calc(100vh-65px)]"
    *ngIf="rootLayoutProperty?.UseSidebar"
  >
    <div class="flex flex-col">
      <app-sidebar-title-only
        *ngIf="
          rootLayoutProperty?.SidebarStyle ===
          importedSidebarStyleEnum?.TitleOnly
        "
      ></app-sidebar-title-only>
      <app-sidebar-dummy
        *ngIf="
          rootLayoutProperty?.SidebarStyle === importedSidebarStyleEnum?.Dummy
        "
      ></app-sidebar-dummy>
    </div>
  </div>
  <div class="basis-3/4 h-[calc(100vh-65px)]">02</div>
</div>
