<mat-sidenav-container class="example-container">
  <mat-sidenav
    #leftSidenav
    [opened]="!hideSidebar"
    mode="side"
    class="left-sidebar"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="!hideSidebar">
      <app-topbar [ToolbarInputData]="toolbarInputData"></app-topbar>
      <app-as-table
        #myChild
        (onPaginatorClick)="refreshTableData($event)"
        (deleteEvent)="clientDeleteEvent($event)"
        (updateEvent)="clientUpdateEvent($event)"
        (tableRefreshRequest)="clientRefreshRequestEvent($event)"
      ></app-as-table>
    </div>
    <div [hidden]="!hideSidebar">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
