<div class="flex flex-col h-[calc(100vh-65px)] w-full">
  <div class="table w-full box-border pt-4 pr-4 pl-4 pb-0" *ngIf="false">
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
  </div>
  <div class="overflow-y-auto">
    <div class="table w-full box-border p-4">
      <div class="table-header-group">
        <div class="table-row sticky top-0 bg-slate-200">
          <div
            class="table-cell text-left box-border p-3 border-b border-gray-300 font-bold"
            *ngFor="let column of tableData?.column"
          >
            {{ column.displayed }}
          </div>
        </div>
      </div>
      <div class="table-row-group">
        <div
          class="table-row bg-slate-100 hover:bg-indigo-100 cursor-pointer"
          *ngFor="let row of tableData?.rows"
          (click)="onRowClick($event)"
          [id]="row.id"
        >
          <div
            class="table-cell box-border p-2 border-b border-gray-300"
            *ngFor="let cell of row.cols"
          >
            {{ cell }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="false">
    <mat-paginator
      [length]="105"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      class="bg-slate-100"
    >
    </mat-paginator>
  </div>
</div>
