<div
  class="flex flex-col h-[calc(100vh-65px)] w-full space-y-0 box-border p-4 border-4"
>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
  </div>
  <div class="h-full overflow-y-auto mat-elevation-z8">
    <div class="table w-full box-border p-4">
      <div class="table-header-group">
        <div class="table-row">
          <div
            class="table-cell text-left box-border p-3 border-b border-gray-300 font-bold"
            *ngFor="let column of tableData?.column"
          >
            {{ column.displayed }}
          </div>
        </div>
      </div>
      <div class="table-row-group">
        <div class="table-row" *ngFor="let row of tableData?.row">
          <div
            class="table-cell box-border p-2 border-b border-gray-300"
            *ngFor="let cell of row"
          >
            {{ cell }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
