<h2 mat-dialog-title>{{ data.Title }}</h2>
<mat-dialog-content class="mat-typography">
  <p>{{ data.Message }}</p>
  <p><em>{{ data.SecondMessage }}</em></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-flat-button
    mat-dialog-close
    cdkFocusInitial
    [hidden]="data.Button.No.Hidden"
    [mat-dialog-close]="data.Button.No.Value"
  >
    {{ data.Button.No.Name }}
  </button>
  <button
    mat-flat-button
    [color]="data.Button.Yes.Color"
    [mat-dialog-close]="data.Button.Yes.Value"
  >
    {{ data.Button.Yes.Name }}
  </button>
</mat-dialog-actions>
